# Virtual environments
venv/
venv312/
.venv/

# Environment variables / secrets
.env
.env.*
.venv312

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# VS Code
.vscode/

# Python tooling
.pytest_cache/
.mypy_cache/